.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.cell {
  height: 35px;
  width: 35px;
  border: 1px solid #ccc;
  text-align: center
}
.timer {
  padding: 10px;
  text-align: center;
}
